html {
    font-size: 10px;
    box-sizing: border-box;
  }
   *, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
   
  body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1em;
    font-weight: 400;
    /* color: #fff; */
    /* background:linear-gradient(to right bottom, #67678589,#0A1931, #0202e012,#92bde7); */
    background: linear-gradient(45deg,#00EAD3,#CD113B,#11052C,#DA7F8F ,#EEB76B, #0A1931,#550A46,#132C33,#161616,#24009C,#D34C26,#FFC107);
    /* color:#485e74; */
  }
   
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .section {
    background: linear-gradient(#67678589,#0A1931, #0202e012);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:white;
  }

  /* main{
    display: block;
    position: relative;
    z-index: 1;
    background: #f9feff;    
  } */

  /* .mainSection{
    border-radius: 25px;
  } */
  header {
    padding: 48px;
  }
  @media (max-width: 440px) {
    header {
      padding: 48px 24px;
    }
  }
  
  header > h2 {
    font-size: 3em;
    font-weight: 500; 
    margin-bottom: 8px;
    text-align: center;
    padding-top: 8px;
    color: #DDDDDD;
    font-family:garamond;
    letter-spacing: 2px;
  }
  
  header > h3 {
    font-size: 2em;
    font-weight: 500; 
    margin-top:10px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 25px;
    color: #DDDDDD;
    font-family:garamond;
    letter-spacing: 3px;
  }


  /* main {
    flex: 1;
    padding: 0 48px;
  } */
  @media (max-width: 440px) {
    /* main {
      padding: 0 24px;
    } */
  }  
  form {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:#f9feff;
  }
   
  .label {
    color: rgba(9, 9, 10, 0.75);
    font-size: 16px;
  }
   
  small {
    display: none;
  }
  small.errorOnce {
    margin-top: 2px;
  }
  .tx1 {
   margin-top: 10px;
  }
  .form-item input[type="text"],
  .form-item input[type="number"],
  .form-item input[type="email"] {
    display: block;
    color:solid black;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 8px 0;
    appearance: none;
    outline: none;
  }
  .form-item i {
    font-size: 12px;
    color: red;
  }
  .box-item {
    height: 60px;
    margin-bottom: 16px;
  }
   
  .form-item-double {
    display: flex;
  }
  .form-item-double .form-item {
    flex: 1 1 auto;
  }
  .form-item-double .form-item:nth-child(1) {
    padding-right: 16px;
  }
  .form-item-double .form-item:nth-child(2) {
    padding-left: 16px;
  }
  .form-item-triple {
    display: flex;
    align-items: center;
    padding-top: 6px;
  }
  .form-item-triple .form-item {
    flex: 3 1 auto;
    text-align: center;
    margin: 0;
  }

   
  .b2{
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8px 48px;
    margin-top: 32px;
    border: 2px solid #075BB4;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease .2s;
  }
  /* .b2:hover {
    background-color: red;
    border: 2px solid black;
    color:white;
  } */
  .b1{
    display: inline-block;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 8px 48px;
    margin-top: 32px;
    border: 2px solid #ced2d6;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease .2s;
  }
  .b1:hover, .b2:hover {
    background-color: rgb(0, 140, 255);
    border: 2px solid black;
    color:white;
   
  }

   
   
  @keyframes shift{
    from{
      transform: rotate(360deg);
    }
  }  
  header{
    background: linear-gradient(#550A46 50%,#4A69BB,#617BE3,#52057B,#150485);
    /* background: linear-gradient(135deg,red 10%, orange 25%, yellow 50%, green 75%, blue 100%); */
    color:rgb(255, 255, 255);
   
    /* font-size: medium; */
    /* background-color: #eceef1; */
}

main{
  /* background: radial-gradient(ellipse, blue 20%, green 10%, gold 10%, black 20%,#333 20%); */
    /* background: linear-gradient(135deg,red 10%, orange 25%, yellow 50%, green 75%, blue 100%); */
    color:white;
    padding: 10px;
    background-color:#CCC1FF;


}
section > header{
  border-radius:20px;
  margin-top:10px;
}

img.logo{
    width:100%;
    height:100%;
}
img{
    height:200px; 
    width:200px; 
    border-radius: 10%;
}
.container{
    height: 20%;
    width: 100%;
    padding: 40px;
    background-attachment: fixed;
    background: linear-gradient(to right bottom ,#EEB76B, #0A1931,#550A46,#132C33,#161616,#24009C,#D34C26,#FFC107);
   opacity: 6;

}
/* main{
  background:#f9feff;
} */
p{
  text-align:right;
  border-top:25px;
  letter-spacing:2px;
}